* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-image: url('images/liquid-cheese.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


.register {
  padding-top: 120px;
  min-height: 100vh;
}


.navbar {
  height: 100px;
  width: 100%;
  padding: 20px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.icon {
  width: 150px;
}

.navbar ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #572717;
  font-size: 18px;
  text-transform: uppercase;
}

.navbar ul li a.active{
  color: rgb(100, 100, 214);
}
.navbar ul li a:hover {
  color: rgb(100, 100, 214);
}

.regform {
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 25px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.regform h1 {
  font-size: 45px;
  color: #572717;
  margin-bottom: 30px;
}


.input,
#gender {
  width: 80%;
  height: 50px;
  margin: 15px 0;
  padding: 0 15px;
  border-radius: 25px;
  border: 2px solid rgb(100, 100, 214);
  background: transparent;
  color: #572717;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
}

select option {
  color: black;
}


#sign {
  width: 60%;
  height: 50px;
  margin-top: 25px;
  border-radius: 25px;
  border: 2px solid rgb(100, 100, 214);
  background: transparent;
  font-size: 20px;
  color: #572717;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

#sign span {
  width: 0;
  height: 100%;
  background-color: rgb(100, 100, 214);
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  transition: width 0.4s ease;
}

#sign:hover span {
  width: 100%;
}

#sign:hover {
  color: white;
  border: none;
}
